
* {
    box-sizing: border-box;
}
img{
    height: 300px;
    width:100%;
    display:flex;
    object-fit: fill;
    justify-content: contain;
    padding: 30px 300px 30px 300px;
    
}
img{
    
}































































